<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/sadnaDB</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">admin</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="current_session_context_class">thread</property>

        <!-- Print executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Update database on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Annotated entity classes -->
        <mapping class="BusinessLayer.Member"/>
        <mapping class="BusinessLayer.Store"/>
        <mapping class="BusinessLayer.Purchase"/>
        <mapping class="BusinessLayer.ShoppingBag"/>
        <mapping class="BusinessLayer.StoreManager"/>
        <mapping class="BusinessLayer.StoreFounder"/>
        <mapping class="BusinessLayer.PurchaseProduct"/>
        <mapping class="BusinessLayer.StoreFounder"/>
        <mapping class="BusinessLayer.ShoppingCart"/>
        <mapping class="BusinessLayer.PaymentDetails"/>
        <mapping class="BusinessLayer.SupplyDetails"/>
        <mapping class="BusinessLayer.PurchaseType"/>
        <mapping class="BusinessLayer.SystemManager"/>

        <mapping class="BusinessLayer.Policies.PurchasePolicies.BasePurchasePolicy"/>
    </session-factory>
</hibernate-configuration>